.catalog-hero {
    background-color:rgba(26, 50, 99, 0.9);
    border: 1px solid #1A3263;
    border-radius: 15px;
    padding: 40px 32px;
    margin: 50px auto;
    width: 90%;
    max-width: 40%;
    text-align: center;
}

.catalog-hero h1 {
    color: #F0F4F8;
    font-size: 2em;
}

.categories-buttons {   
    display: flex;
    gap: 15px;
    justify-content: center;
}

.categories-buttons button {
    border:none;
    background-color:#1A3263;
    color: #F0F4F8;
    padding: 8px 16px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.5s;
}

.categories-buttons button:hover {
    background: #E8A849;
    border-color: #E8A849;
    color: #1A3263;
    transform: translateY(-3px)
}
