.catalog-hero {
    background-color:#F0F4F8;
    border: 1px solid #DDE5ED;
    border-radius: 8px;
    padding: 40px 32px;
    margin: 50px auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.catalog-hero h1 {
    color: #1A3263;
    font-size: 2em;
}

.categories-buttons {   
    display: flex;
    gap: 15px;
    justify-content: center;
}

.categories-buttons button {
    background-color:#1A3263;
    color: #F0F4F8;
    padding: 8px 16px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: transform 0.5s
}

.categories-buttons button:hover {
    background: #E8A849;
    border-color: #E8A849;
    color: #1A3263;
    transform: translateY(-3px)
}
